.divDefault { 
  /* https://www.w3docs.com/snippets/html/how-to-force-the-content-of-the-div-element-to-stay-on-the-same-line.html */
  width: "100%";
  height: "100%";
   background-color: rgb(156, 202, 238); 
  /* margin: 10;
  padding: 1; */
  /* border: 1px solid black; */
  font-family: 'Times New Roman', Times, serif;
  font-size: "+20";
  overflow: hidden;
  margin : 0 ;
  padding: 0;
}.divDefaultService { 
  /* https://www.w3docs.com/snippets/html/how-to-force-the-content-of-the-div-element-to-stay-on-the-same-line.html */
  width: "100%";
  height: "100%";
   background-color: rgb(156, 202, 238); 
  /* margin: 10;
  padding: 1; */
  /* border: 1px solid black; */
  font-family: 'Times New Roman', Times, serif;
  font-size: "+20";
  overflow: hidden;
  margin : 0 ;
  padding: 0;
}
.divDefaultQual { 
  /* https://www.w3docs.com/snippets/html/how-to-force-the-content-of-the-div-element-to-stay-on-the-same-line.html */
  width: "100%";
  height: "100%";
   background-color: rgb(224, 221, 221); 
  /* margin: 10;
  padding: 1; */
  /* border: 1px solid black; */
  font-family: 'Times New Roman', Times, serif;
  font-size: "+20";
  overflow: hidden;
  margin : 0px ;
  padding: 0px ;
}
h3 {
  background-color: rgb(156, 202, 238);
}
/* .listWrapper
{
font-family: 'Times New Roman', Times, serif;
font-size: 17;
} */
.parent
{

   width: 100%;
  height: 40%;
  background-image: url(background.png);

}
.circle {
  display: none;

  /* background-image: url(joshDogHeadshotResize1.jpg);
  align-items: center;
  justify-content: center;
  display: flex;
  width: 675px;
  height: 350px;
  border-radius: 50%;
  margin: auto; */
}
.headerMon{
  display : none;
}
.boardSplit
{
  /* background-image: url(boardService.jpg); */
  display: none;

}
.qualHtml
{
  justify-content: right;
  width : 300px;
  height : 300px;
  overflow: hidden;
  justify-content: center;
  margin : auto;
}
.switchHtml
{
  width: "100%";
  height: "100%";
  font-family: 'Times New Roman', Times, serif;
  font-size: "+20";
  overflow: hidden;
}
.border{
  width: 100%;
  height: 30%;
  background-image: url(qualificationsBack.PNG);
  color : white;

}
.serviceHidden
{
  display: none;

}
h4 {
  color : white;
}

.divHeader { 
  /* https://www.w3docs.com/snippets/html/how-to-force-the-content-of-the-div-element-to-stay-on-the-same-line.html */
  width: "100%";
  height: "100%";
  /* background-color: rgb(255, 255, 255); */
  /* margin: 10;
  padding: 1; */
  font-family: 'Times New Roman', Times, serif;
  font-size: "+20";
  color: white;
  overflow: hidden;
  margin : 0px ;
  padding: 0px ;
}
body {
  background-color: rgb(156, 202, 238);
}
/* .divDefautIndex
{
  background-image: url(joshJumpClimb.png);
  overflow: "hidden";
  width: "50%";
  height: "90%";
  hspace: "25";
  vspace: "10";
  align-items: "left";

} */

/* .style_box
{
  width: 100%;
  height: 70%;
  padding: 10px;
  border: 15px black;

} */