body {
    background: url(joshBeachHeadshot.jpg);
    }

ul li {
        background: rgb(123, 163, 162);
        margin: 5px;
    }
    p {
        border: 2px solid powderblue;
        margin: 10px;
      }